<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/sunny-weather-1-458138.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
        <img
            src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln">
    </div>

    {{>footer}}
</body>

</html>