<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/sunny-weather-1-458138.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://cdn.mos.cms.futurecdn.net/3pxrpjhTD3nrbZn4bqhed3.jpg" />
        <p>Pravaig aims to produce 2,500 Made in India luxury EV Extinction MK1 every year. Pravaig, a Bengaluru-based
            EV startup, claims the Extinction MK1 has a range of more than 500 kms in single charge.</p>
        <p style="font-weight: bold;">Note:</p>
        <p> The data used in this is from mapbox.com and weatherstack.com</p>
    </div>
    {{>footer}}
</body>

</html>